html,body,div,p,dl,dt,dd,ul,li,ol,table,tr,td,form,hr,h1,h2,h3,h4,h5,h6,img,input,label{
	margin:0;
	padding:0;
}
h1,h2,h3,h4,h5,h6{   
	font-size:100%;   
	font-weight:normal;   
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
body{
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
	overflow-y: scroll;
}
ul,li{
	list-style:none;
}
a{
	text-decoration:none;
	color: #333;
}
em{
	font-style: normal;
	margin-right:4px;
}
