*{
    box-sizing: border-box;
}
img{
    display: inline-block;
}
ul,ol{
    margin-top: 0;
    margin: 0;
    padding: 0;
}
p {
    margin: 0 0 8.5px;
}
.pull-right {
    float: right !important;
}
/*topNav*/
.topNav{
    background: #f1f1f1;
    height: 30px;
    line-height: 30px;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.container:after{
    content: "";
    height: 0;
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
}
/*pullLeft*/
.pullLeft li{
    float: left;
    color: #333;
    padding: 0 15px;
}
.pullLeft .space{
    width: 1px;
    height: 12px;
    margin-top: 9px;
    background: #DDDDDD;
    overflow: hidden;
    padding: 0;
}
.pullLeft li:last-child .reg{
    color:#BE1E2D;
    padding-left:12px;
}
/*pullRight*/
.pullRight{
    float: right;
}
.pullRight li{
    float: left;
}
.topNav .pullRight li a{
    padding: 0 12px;    
    color: #333;
}
.pullRight .space{
    width: 1px;
    height: 12px;
    margin-top: 9px;
    background: #DDDDDD;
    overflow: hidden;
    padding: 0;
}
/*header*/
.header{
    height: 80px;
    padding: 10px 0;
}
.header .logo{
    width: 270px;
    float: left;
}
.header .logo a{
    display: block;
}
.header .logo img{
    height: 60px;
    display: block;
}
.header .searchBox{
    float: left;
    margin-top: 6px;
    margin-left: 120px;
    width: 540px;
}
.header .searchBox .form{
    overflow: hidden;
}
.header .form .txt{
    float: left;
    width: 456px;
    height: 36px;
    line-height: 24px;
    color: #666;
    padding: 4px;
    border-width: 2px 0 2px 2px;
    border-color: #be1e2d;
    border-style: solid;
    outline: 0;
    font-size: 14px;
    font-family: "microsoft yahei";
}
.searchBox .form .search{
    float: left;
    width: 82px;
    height: 36px;
    background: #B61D1D;
    border: none;
    line-height: 1;
    color: #fff;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    cursor: pointer;
}
.searchBox .hotwords{
    float: left;
    width: 100%;
    height: 26px;
    line-height: 26px;
}
.searchBox .hotwords a{
    margin-right: 10px;
    white-space: nowrap;
    color: #A9A9A9;
}
.cartBox{
    margin-top: 10px;
    height: 36px;
    width: 120px;
    position: relative;
}
.cartBox .icon{
    width: 120px;
    height: 36px;
    border: 1px solid #DFDFDF;
    background: #F9F9F9;
    line-height: 34px;
    font-size: 12px;
    text-align: center;
}
.cartBox .icon .cart-count{
    position: absolute;
    top: -4px;
    left: 104px;
    display: inline-block;
    padding: 1px 2px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #c81623;
    border-radius: 9px 9px 9px 0;
    min-width: 12px;
    text-align: center;
    font-style: normal;
}
.cartHidden{
    position: absolute;
    right: 0;
    top: 36px;
    width: 310px;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    display: none;
}
.cartHiddenTop{
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}
.cartHiddenMid{
    background: #fff;
    height: auto!important;
    max-height: 284px;
    overflow-y: auto;
}
.cartHiddenMid .cartLog{
    margin: 15px;
    height: auto;
    line-height:normal;
}
.cartHiddenMid .cartLog a{
    color: #fff;
    background-color: #be1e2d;
    padding: 2px 6px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
}
.cartHiddenBot{
    padding: 8px;
    background: #F2F2F2;
    overflow: hidden;
}
.count{
    float: left;
    line-height: 29px;
}
.cartHiddenBot a{
    float: right;
    height: 29px;
    padding: 0 10px;
    background: #be1e2d;
    color: #fff;
    text-align: center;
    font-weight: 700;
    line-height: 29px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.cartSpace{
    position: absolute;
    right: 0;
    top: -2px;
    height: 4px;
    width: 118px;
    background-color: #fff;
}
/*nav*/
.nav{
    background: pink;
    width: 100%;
    height: 46px;
    border-bottom: 3px solid #be1e2d;
    background-color: #fff;
}
.navMain>li{
    text-align: center;
    height: 46px;
    line-height: 46px;
    float: left;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}
.navMain .navHidden>a{
    width: 240px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    border: 0;
    background-color: #be1e2d;
    padding: 0;
    font-size: 14px;
}
.navMain>li>a{
    display: block;
    height: 46px;
    line-height: 46px;
    color: #333;
    font-size: 16px;
    padding: 0 0 0 46px;
    font-weight: 400;
}
.navMain .pullRight{
    float: right;
}
.navMain .pullRight img{
    vertical-align: middle;
}
.navList{
    display: none;
    border-top: 0px;
    background-color: #f5f5f5;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    width: 100%;
    min-width: 160px;
    padding: 0;
    list-style: none;
    font-size: 12px;
    text-align: left;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
.navList li{
    width: 100%;
    border-top: 1px dotted #ccc;
    text-align: left;
    height: auto;
    line-height: 46px;
}
.navList li:first-child{
    border-top:1px solid #F5F5F5;
}
.navList a{
    line-height: 36px;
    font-size: 14px;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    color: #333;
    white-space: nowrap;

}
.navList li ul{
    display: none;
    position: absolute;
    top: -1px;
    left: 240px;
    background-color: #fff;
    border-top: 0px;
    border-right: 1px solid #ccc;
    height: 344px;
    width: 488px;
    overflow: hidden;
}
.navList li ul li{
    padding: 16px;
}
.category{
    float: left;
    width: 220px;
}
.category a{
    line-height: 18px;
    padding: 0;
    padding-left: 16px;
    width: 100%;
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    position: relative;
    background-color: transparent;
}
.brands{
    width: 200px;
    float: right;
    text-align: center;
    margin: 0;
    padding: 0;
}
.brands a{
    display: block;
    width: 180px;
    border: 1px solid #e5e5e5;
    padding: 1px 4px;
    margin-bottom: 8px;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    position: relative;
}
.brands img{
    width: 100px;
    vertical-align: middle;
}
//main
.main{
    padding-bottom: 30px;
    min-height: 600px;
    font-size: 14px;
    background-color:#f5f5f5;
    .breadcrumb{
        padding: 10px 0px;
        margin-bottom: 0px;
        list-style: none;
        border-radius: 4px;
        li{
            display: inline-block;
            font-size: 12px;
        }
        li+li:before{
            content: "/\00a0";
            padding: 0 5px;
            color: #333;
        }
    }
}
.listBox {
    padding: 18px 0;
    background-color: #fff;
    font-size: 14px;
    .mt{
        height: 30px;
        line-height: 30px;
        h5{
            float: left;
            height: 30px;
            color: #be1e2d;
            margin: 0;
            padding: 0;
            line-height: 30px;
            font-size: 14px;
        }
        .total{
            margin-left: 30px;
            strong{
                font-weight: 400;
                color: #be1e2d;
            }
        }
    }
    .mc{
        overflow: visible;
        .selected{
            line-height: 40px;
            float: left;
            width: 100%;
            .f1{
                float: left;
                span{
                    font-weight: normal;
                    color: #666;
                }
                p{
                    display: none;
                    margin: 0 0 8.5px;
                }
            }
        }
        .attr{
            width: 100%;
            padding: 4px 0;
            overflow: hidden;
            zoom: 1;
            border-top: 1px dotted #ccc;
            h5{
                float: left;
                width: 100px;
                text-align: left;
                line-height: 30px;
                padding: 0;
                margin: 0;
                font-weight: normal;
                font-size: 14px;
                color: #999;
            }
            ul li{
                float: left;
                margin-right: 32px;
                a{
                    float: left;
                    line-height: 30px;
                    text-decoration: none;
                    overflow: hidden;
                    white-space: nowrap;
                    color: #666;
                    cursor: pointer;
                    font-size: 14px;
                }
            }
        }
    }
}
.content{
    padding: 20px 0 60px;
    .orderListBox{
        height: 20px;
        margin: 20px 0;
        overflow: hidden;
        position: relative;
        zoom: 1;
        .orderList{
            float: left;
            height: 20px;
            margin: 0;
            padding: 0;
            list-style-type: none;
            li{
                float: left;
                padding: 0 30px;
                border-left: 1px solid #e0e0e0;
                line-height: 20px;
            }
            li:first-child{
                border-left: 0;
                padding-left: 0;
            }
        }
    }
}
.fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.goodsListBox{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    .goodsItem{
        width: 24%;
        position: relative;
        height: 350px;
        padding-top: 14px;
        margin-bottom: 14px;
        text-align: center;
        background: #fff;
        -webkit-transition: -webkit-box-shadow 0.5s linear;
        transition: box-shadow 0.5s linear;
        .figure a img{
            width: 200px;
            height: 200px;
            vertical-align: middle;
            border: 0;
        }
        .desc{
            display: none;
        }
        .title{
            margin: 0 8px 3px 8px;
            height: 36px;
            font-size: 25px;
            a{
                font-size: 14px;
                font-weight: 400;
                text-overflow: ellipsis;
                line-height: 18px;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                display: inline-block;
                text-align: left;
            }
        }
        .price{
            margin: 10px 0 10px 0;
            color: #be1e2d;
            font-size: 16px;
        }
        .samestyle{
            position: relative;
            overflow: hidden;
            margin: 0 10px;
            padding: 0 10px;
            border-top: 1px solid #e2e2e2;
            ul{
                margin: 6px auto 0px auto;
                padding: 0;
                width: 2000px;
                overflow: hidden;
                li{
                    width: 40px;
                    height: 40px;
                    float: left;
                    margin: 0 2px 0 0;
                    padding: 0;
                    img{
                        width: 38px;
                        height: 38px;
                    }
                }
            }
        }
    }
}
nav{
    overflow: hidden;
}
nav .pagination{    
    display: inline-block;
    padding-left: 0;
    margin: 17px 0;
    border-radius: 4px;
    li:first-child span{
        margin-left: 0px;
        padding: 6px 12px;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
        color: rgb(170, 170, 170);
        background-color: #fff;
        cursor: not-allowed;
        position: relative;
        float: left;
        line-height: 1.42857;
        border: 1px solid rgb(221, 221, 221);
    }
    li{
        display: inline;
        a{
            position: relative;
            float: left;
            line-height: 1.42857;
            margin-left: -1px;
            padding: 6px 12px;
            background-color: #fff;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(221, 221, 221);
        }
    }
    li:last-child a{
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
    }
}
.goodsHobbyBox{
    padding-top: 10px;
    .title{
        height: 60px;
        position: relative;
        margin-bottom: 10px;
        overflow: hidden;
        .borderLine{
            margin-top: 30px;
            height: 0px;
            border-top: 1px solid #e0e0e0;
        }
        .navName{
            margin: 0px;
            text-align: center;
            position: absolute;
            width: 300px;
            height: 30px;
            line-height: 30px;
            font-size: 30px;
            font-weight: normal;
            color: #b0b0b0;
            background-color: #f5f5f5;
            left: 50%;
            margin-left: -150px;
            top: 15px;
        }
    }
    .spec{
        width: 1200px;
        overflow: hidden;
        .specListBox{
            position: relative;
            width: 2400px;
            height: 312px;
            .hobbyList{
                width: 1200px;
                height: 312px;
                float: left;
                li:first-child{
                    margin-left: 0;
                }
                li{
                    margin-left: 15px;
                    width: 228px;
                    float: left;
                    background-color: #fff;
                    margin-bottom: 14px;
                    height: 300px;
                    text-align: center;
                    dl{
                        position: relative;
                        margin-top: 0;
                        margin-bottom: 24px;
                        dt{
                            padding: 40px 0 15px;
                            height: 200px;
                            img{
                                width: 140px;
                                height: 140px;
                            }
                        }
                        dd{
                            text-align: center;
                            padding: 0 20px 10px 20px;
                            font-size: 14px;
                        }
                        .btn{
                            padding: 0;
                            position: absolute;
                            left: 54px;
                            bottom: 4px;
                            display: none;
                            width: 120px;
                            height: 30px;
                            line-height: 30px;
                            border: 1px solid #be1e2d;
                            color: #be1e2d;
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }
}
.xm-recommend-name{
    margin-bottom: 10px;
    height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.xm-recommend-price{
    color: #be1e2d;
}
.xm-recommend-tips{
    position: relative;
    color: #757575;
}
.btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.xm-pagers-wrapper{
    margin-top: 35px;
    margin-bottom: 40px;
    .xm-pagers{
        margin: 0 auto;
        text-align: center;
        .pager{
            cursor: default;
            display: inline-block;
            width: 10px;
            height: 10px;
            padding: 10px;
            margin: 0 2px;
            background-color: transparent;
            text-align: center;
            .dot{
                display: block;
                width: 12px;
                height: 12px;
                border: 2px solid #f5f5f5;
                border-radius: 6px;
                text-align: left;
                text-indent: -9999em;
                overflow: hidden;
                transition: box-shadow 0.2s linear;
                background-color: #b0b0b0;
            }
        }
        .active .dot{
            background-color: #ff6700;
        }      
    }
}
/*footer*/
.footer{
    padding: 20px 0px 18px 0px;
    background: #000;
    border-top: 1px solid #3a3a3a;
    color: #fff;    
}
.footer .promise{
    border-bottom: 1px solid #262626;
    height: 45px;
}
.footer .promise li{
    width: 22%;
    float: left;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    border-left: 1px solid #262626;
}
.footer .promise li:first-child{
    border-left: none;
}
.footer .promise .large{
    width: 33%;
}
.footer .promise li span{
    color: #be1e2d;
    font-family: Georgia, 'Monotype Corsiva', Arial, sans-serif;
    font-style: italic;
    font-size: 28px;
    margin-right: 4px;
}
.footer .row{
    margin-top: 20px;
    border-bottom: 1px solid #262626;
    padding-bottom: 6px;
}
.footer .row:after{
    display: block;
    content: "";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
.footer .row .item{
    width: 16.5%;
    float: left;
}
.footer .row .item .word{
    color: #fff;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 20px;
    position: relative;
    line-height: 1.1;
}
.footer .row .item li{
    padding-bottom: 6px;
    margin-bottom: 6px;
    line-height: 1.42857143;
}
.footer .row .item .fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.fa-caret-right:before{
    content: "";
}
.footer .row .item a{
    color: #fff;
}
.footer .container .row .service{
    padding-left: 60px;
    width: 23%;
    height: 108px;
    border-left: 1px solid #2e2e2e;
}
.row .service img{
    position: absolute;
    top: -2px;
    left: -32px;
}
.footer .row .twodcode{
    width: 10%;
    float: right;
    text-align: right
}
.footer .row .twodcode h4.word{
    margin: 0;
    margin-bottom: 4px;
    color: #fff;
    font-size: 14px;
    position: relative;
    text-align: right;
    line-height: 1.1;
}
.footer .row .twodcode li{
    float: right;
    padding-bottom: 0;
    margin-bottom: 0;
}
.footer .row .twodcode img{
    width: 84px;
    margin-top: 6px;
}
#floor5{
    overflow: hidden;
    margin: 30px auto;
}
/*partner&copyright*/
.partner{
    background: #000;
    padding: 0 0 10px 0;
}
.partner ul{
    overflow: hidden;
}
.partner ul li{
    color: #999;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 1.42857143;
    display: inline-block;
}

.partner ul li:before {
    content: "|";
    display: inline-block;
    margin: 0 12px;
    color: #262626;
}
.partner ul li:first-child:before {
    content: "";
    display: inline-block;
    visibility: hidden;
    margin: 0;
}
.partner ul li a{
    color: #999;
    font-size: 12px;
}
.partner p{
    margin: 0 0 8.5px;
    margin-top: 6px;
    color: #999;
    font-size: 12px;
    line-height: 24px;
}
.partner p span{
    margin-right: 30px;
}
.partner p span a {
    display: inline-block;
    color: #999;
}